
  
  .search input {
    background-color: #E6E6E6;
    border: 0;
    border-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 15px;
  }

  .dropdown-style {
    color: #2db4ea !important;
    margin-left: 1em;
  }
  
  .search-button {
    background: #2db4ea;
    border: 0;
    margin-left: 0.7em;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }

  .alert-style{
    height: 20%;
    width: 50%;
    right:0;
    left: 0;
    top:0;
    bottom:0;
    margin-right: auto;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  #clearBtn {
    cursor: pointer;
  }

  @import "~bootstrap/scss/bootstrap";