@import "~bootstrap/scss/bootstrap";

.float-bottom {
    margin-top: 2em;
}

.image_position{
    width: 13rem;
    margin-top: 2em;
    margin-left: 4em;
}

h4,
p{
    color: black;
}

.modal-body{
    background-color: rgb(237, 237, 237);
}
